In [1]:
import sys

sys.path.append("../")
import penaltyblog as pb

In [2]:
df = pb.footballdata.fetch_data("england", 2020, 0)
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,2020-09-12,12:30,Fulham,Arsenal,0,3,A,0,1,...,1.84,0.75,2.01,1.89,2.02,1.91,2.13,1.92,2.02,1.87
1,E0,2020-09-12,15:00,Crystal Palace,Southampton,1,0,H,1,0,...,1.70,0.25,1.78,2.13,1.79,2.17,1.85,2.18,1.79,2.12
2,E0,2020-09-12,17:30,Liverpool,Leeds,4,3,H,3,2,...,2.62,-1.50,1.85,2.05,1.85,2.08,1.90,2.16,1.84,2.04
3,E0,2020-09-12,20:00,West Ham,Newcastle,0,2,A,0,0,...,1.92,-0.50,2.03,1.87,2.04,1.88,2.09,1.91,2.02,1.86
4,E0,2020-09-13,14:00,West Brom,Leicester,0,3,A,0,0,...,1.73,0.25,1.92,1.98,1.93,1.99,1.95,2.01,1.91,1.97

### Colley ratings including tied scorelines

In [3]:
pb.ratings.colley(df["FTHG"], df["FTAG"], df["HomeTeam"], df["AwayTeam"])

                team    rating
0           Man City  1.767857
1         Man United  1.732143
2          Liverpool  1.672619
3            Chelsea  1.666667
4           West Ham  1.630952
5          Leicester  1.619048
6          Tottenham  1.607143
7            Arsenal  1.589286
8            Everton  1.583333
9              Leeds  1.553571
10       Aston Villa  1.541667
11          Brighton       1.5
12         Newcastle  1.482143
13            Wolves  1.482143
14    Crystal Palace  1.464286
15       Southampton  1.446429
16           Burnley  1.434524
17            Fulham  1.386905
18         West Brom   1.35119
19  Sheffield United  1.238095

### Colley ratings excluding tied scorelines

In [4]:
pb.ratings.colley(df["FTHG"], df["FTAG"], df["HomeTeam"], df["AwayTeam"], include_draws=False)

                team    rating
0           Man City      0.75
1         Man United  0.678571
2          Liverpool  0.630952
3            Chelsea  0.619048
4          Leicester  0.595238
5           West Ham  0.595238
6          Tottenham  0.571429
7            Arsenal  0.559524
8            Everton  0.547619
9              Leeds  0.535714
10       Aston Villa  0.511905
11         Newcastle  0.440476
12            Wolves  0.440476
13          Brighton  0.428571
14    Crystal Palace  0.428571
15       Southampton  0.416667
16           Burnley  0.392857
17            Fulham  0.321429
18         West Brom  0.297619
19  Sheffield United  0.238095