In [1]:
import sys

sys.path.append("../../")

import pandas as pd

import penaltyblog as pb

### Get the current active gameweek number

In [2]:
current_gameweek = pb.fpl.get_current_gameweek()
current_gameweek

1

### Get the weekly events

This contains information on who the most captainied player was for each week week, what chips were played, what the highest score was etc

In [3]:
info = pb.fpl.get_gameweek_info()
info.query("average_entry_score > 0")

,id,name,deadline_time,average_entry_score,finished,data_checked,highest_scoring_entry,deadline_time_epoch,deadline_time_game_offset,highest_score,...,cup_leagues_created,h2h_ko_matches_created,chip_plays,most_selected,most_transferred_in,top_element,top_element_info,transfers_made,most_captained,most_vice_captained
0,1,Gameweek 1,2022-08-05 17:30:00+00:00,23,False,False,2749621.0,1659720600,0,71.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 170273}...",28.0,1.0,313.0,"{'id': 313, 'points': 12}",0,283.0,318.0

### Get Player Name to ID mappings

In [4]:
mappings = pb.fpl.get_player_id_mappings()
mappings.head()

  first_name   second_name web_name  id
0     Cédric  Alves Soares   Cédric   1
1     Granit         Xhaka    Xhaka   3
2    Mohamed        Elneny   Elneny   4
3        Rob       Holding  Holding   5
4     Thomas        Partey   Partey   6

### Get the player data

This contains information on each player, e.g. total score, total minutes played, form, current price etc

In [5]:
players = pb.fpl.get_player_data()
players.head()

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,position,position_short,team_id,team_name,team_name_short
0,NaN,NaN,58822,0,0,0,0,0,2,2.3,...,,3.0,,NaN,,Defender,DEF,1,Arsenal,ARS
1,NaN,NaN,156074,0,0,0,0,0,2,2.3,...,,NaN,,NaN,,Defender,DEF,1,Arsenal,ARS
2,100.0,75.0,192895,0,0,0,0,0,2,2.8,...,,NaN,,NaN,,Defender,DEF,1,Arsenal,ARS
3,NaN,NaN,198869,0,0,0,0,0,2,2.3,...,,NaN,,NaN,,Defender,DEF,1,Arsenal,ARS
4,75.0,75.0,223723,0,0,0,0,0,2,1.8,...,,NaN,,NaN,,Defender,DEF,1,Arsenal,ARS

#### Let's extract the data for Oleksandr Zinchenko from the data frame

In [6]:
zincs = mappings.query("web_name == 'Zinchenko'")
zincs_id = zincs["id"].iloc[0]
players.query("id == @zincs_id")

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,position,position_short,team_id,team_name,team_name_short
9,NaN,NaN,206325,0,0,0,0,1,2,2.8,...,,NaN,,NaN,,Defender,DEF,1,Arsenal,ARS

#### Let's extract the data about goalkeepers

In [7]:
players.query("position_short == 'GKP'")[
    ["id", "first_name", "second_name", "position", "total_points", "minutes"]
].sort_values("total_points", ascending=False).head()

      id first_name     second_name    position  total_points  minutes
26    15      Aaron        Ramsdale  Goalkeeper             6       90
448  398       Dean       Henderson  Goalkeeper             2       41
193  152    Vicente          Guaita  Goalkeeper             1       90
556  478       José  Malheiro de Sá  Goalkeeper             1       43
508  425       Hugo          Lloris  Goalkeeper             1       44

### Get Zinchenko's history by week for current season

In [8]:
history = pb.fpl.get_player_history(zincs_id)
history

,element,fixture,opponent_team,total_points,was_home,kickoff_time,team_h_score,team_a_score,round,minutes,...,bps,influence,creativity,threat,ict_index,value,transfers_balance,selected,transfers_in,transfers_out
0,313,1,7,12,False,2022-08-05 19:00:00+00:00,0,2,1,82,...,38,40.0,23.3,21.0,8.4,5.0,0,1170032,0,0

### Fetch the current top 50 ranked FPL teams

In [9]:
pb.fpl.get_rankings(1)

,id,event_total,player_name,rank,last_rank,rank_sort,total,entry,entry_name
0,55733942,71,Simon Sjölund,1,0,1,71,7625777,Simon S 1 in world
1,56948368,71,Thom Pichon,1,0,2,71,7769794,insta/uniofbants
2,15879108,71,Jordan Holmes,1,0,3,71,2749621,Suiiiii
3,4964881,70,greg tai LE402 SJI,4,0,4,70,949950,gregory tai wen hao
4,50997447,70,Jarle Kvamsdal,4,0,5,70,7065980,Bananfabrikken
5,35746412,70,Remi ruben Sandberg,4,0,6,70,5389185,Nord&Ned
6,51389648,70,Daniel Daniel,4,0,7,70,7111421,ZłotówaTeam
7,52591723,70,nemanja vucenovic,4,0,8,70,7252235,Ubice ratara
8,34392632,69,Shea Joffe,9,0,9,69,5263502,Shea
9,11321657,69,Imnoursh alshumrani,9,0,10,69,2076197,KAUSTBOYS
10,24233264,69,Suzie Iles,9,0,11,69,3995339,Ilesbehavinya
11,29311131,69,yasser magdy,9,0,12,69,4605825,yasser
12,34550512,69,Ams Mas,9,0,13,69,5276925,Ninja Warriors
13,35407708,69,Roy Gavi,9,0,14,69,5356051,La Masia FC
14,38832874,69,Henrik Elfstedt,9,0,15,69,5659156,SG8
15,43805070,69,Rúnar Þor,9,0,16,69,6190321,Rubio
16,46909008,69,adeyemi aderemi,9,0,17,69,6575629,FIZZIEDIZZIE
17,21577637,68,Lufuno Mushabalo,18,0,18,68,3606136,BADCOMPANY226
18,29247892,68,Obinna Tony,18,0,19,68,4596764,Tonero
19,30982823,68,Erik Klompen,18,0,20,68,4832766,Jemoeder
20,51524562,68,Jakub Andruszkiewicz,18,0,21,68,7126766,Pjanic at the Isco
21,8499514,67,George Dazeley,22,0,22,67,1595903,Chip Theif FC
22,32780655,67,Rocky Bai,22,0,23,67,5066388,MTB 1
23,36037266,67,Tin Tadić Smojver,22,0,24,67,5415373,RTV serviser
24,16347873,67,EDEN MUGUME,22,0,25,67,2822997,Eden Fc
25,22668289,67,Chukwunomnso Iwegbu,22,0,26,67,3768561,shadowthrone
26,29721705,67,naser seryo,22,0,27,67,4664159,في حب ديفوك اوريغي
27,32978560,67,Igor Pavlovic,22,0,28,67,5090895,Igor valjevo
28,32381410,67,Suiiiiiii Ewyyyy,22,0,29,67,5012765,I like big oily men
29,10463436,66,Cemo Jimmy ❕,30,0,30,66,1930691,JimmyAfc
30,17349136,66,László Tóth,30,0,31,66,2979628,69420
31,41237175,66,Hammed Sofoluwe,30,0,32,66,5904908,Ajibolahammed
32,9044019,66,Mahmoud Mahmoud,30,0,33,66,1692119,AHLAWY�
33,18221271,66,N G,30,0,34,66,3118783,Chalk Dragons
34,39437669,66,sofiane barbant,30,0,35,66,5719300,Sofiane usmh
35,47006210,66,Trevor Mccollin,30,0,36,66,6587945,Mighty Reds
36,48445031,66,Mohamed Abdelazim,30,0,37,66,6767453,Zima11
37,6232659,66,Alfie T,30,0,38,66,1180677,JamaalAboutTheBase
38,44762600,66,Wojti Kowalski,30,0,39,66,6308169,LekcjaHistorii
39,54466212,66,Mark Curliss,30,0,40,66,7473037,Super Troopers
40,54743706,66,Jesse Pinkman,30,0,41,66,7505999,Sussy Baka
41,50369690,66,aaron ollikainen,30,0,42,66,6990801,Hipa86
42,51786486,66,Andrzej Mydlarz,30,0,43,66,7157141,ZygmuntyStarego
43,39250099,66,kwabena larbi,30,0,44,66,5701395,LAPITO FC
44,3195978,66,Luka Krznarić,30,0,45,66,618832,Taurunum
45,17509524,66,Charlie Taylor,30,0,46,66,3004221,CT11
46,39646393,66,Fakhar nasser,30,0,47,66,5741081,Fakhar
47,5290664,65,Felix MUIA,48,0,48,65,1009275,felix
48,22361401,65,Nick Angel,48,0,49,65,3724325,Change Name
49,316018,65,essam mohamed,48,0,50,65,60249,Malika

### Fetch the FPL teams ranked 51-100

In [10]:
pb.fpl.get_rankings(2)

,id,event_total,player_name,rank,last_rank,rank_sort,total,entry,entry_name
0,674627,65,Bauke Wallinga,48,0,51,65,127744,Liverpool
1,3667958,65,Veljko Vusurovic,48,0,52,65,708328,lovcenac
2,4192726,65,Mohmmed Abbass,48,0,53,65,806773,reix�
3,11392881,65,ali brahim,48,0,54,65,2088175,ali
4,17710509,65,Sukrit Pureepatpong,48,0,55,65,3035239,Zar Nicholas FC
5,19195158,65,James Azar,48,0,56,65,3264776,James Azar world 11
6,21827635,65,Adams Victor,48,0,57,65,3643450,V_aCe
7,22214484,65,Solomon Bockarie,48,0,58,65,3704626,Arsengun
8,22710105,65,xyo xyo,48,0,59,65,3774680,397
9,28045685,65,Michael Webster,48,0,60,65,4469551,Hanging by a fred
10,30060724,65,Heather James,48,0,61,65,4712244,heathers hero’s
11,34112426,65,Brian Mulenga,48,0,62,65,5234804,TheUnstoppableClans
12,34908399,65,Lord Yhemite,48,0,63,65,5307709,Lord Yhemite
13,39591346,65,Sos Hegab1,48,0,64,65,5735359,Blanko
14,42036224,65,Corey De Groot,48,0,65,65,5980449,ARteraARSeneARSEHOLE
15,46159738,65,Ahmad Matadar,48,0,66,65,6481835,Ahmad ALL STARS
16,47701465,65,mohamed mohamed,48,0,67,65,6675667,mohamed
17,49097422,65,Joshua Head,48,0,68,65,6842788,ABCDE FC
18,50416725,65,John Dorrian,48,0,69,65,6996252,Sweet Jesus
19,50640723,65,George Tofari,48,0,70,65,7022918,georgetPK
20,53305424,65,william white,48,0,71,65,7335766,worms dream team
21,56651391,65,Pending Moderation,48,0,72,65,7734622,Maple Leaf Massive
22,25302575,65,Kieran Grobbelaar,48,0,73,65,4146091,yassss
23,644661,65,Kyle Baker,48,0,74,65,122049,Diop it like its hot
24,6545652,65,Shaifullah Shaufe,48,0,75,65,1237914,Lord Uthred+6
25,43812665,65,adiwira1991 langat,48,0,76,65,6191259,1991_adiwira
26,55640473,65,Thomas Mccoy,48,0,77,65,7614480,*Insert Matip Joke
27,32593064,65,Akinsanya Jamiu,48,0,78,65,5041891,Akinsanya jamiu
28,44031922,65,Taylor Rogers,48,0,79,65,6218098,Slumped
29,51216220,65,Uros Stankovic,48,0,80,65,7091432,Favorit
30,49871935,65,Stone Esenga,48,0,81,65,6932570,No Mercy
31,45212549,65,Erik Windolf,48,0,82,65,6363735,IF Rabarbersvaj
32,2085438,65,oussama done,48,0,83,65,407405,real madrid.fc
33,6965001,65,Lukas Hoog,48,0,84,65,1314270,I'm a Five star man
34,22791806,65,Didas Minja,48,0,85,65,3786934,minja Jr
35,30725896,65,oscar nevile,48,0,86,65,4800055,Sqwuad
36,53872396,65,Oliver Noble,48,0,87,65,7402012,egg fried rice
37,33291931,65,Anis Aniiss,48,0,88,65,5130003,usma
38,42762124,65,Katie Whitworth,48,0,89,65,6064859,PigwomanofArbroath
39,26745992,65,Brent Johnston,48,0,90,65,4324403,Scuba Squad
40,30413319,65,Ade Sandi Nugroho,48,0,91,65,4761146,Alley God
41,40358378,65,Panagiotis Stergiopoulos,48,0,92,65,5815017,Monbeastdaddyfc
42,30308381,64,greg tai 11,93,0,93,64,4747354,greg tai 11
43,50743635,64,Ben Casey,93,0,94,64,7035101,Caseynator FC
44,4506616,64,Tom Pullan,93,0,95,64,864615,Fofanas in Pyjamas
45,35145117,64,narendra buch,93,0,96,64,5330138,narenho's hotshots
46,33163692,64,Kalpesh Mistry,93,0,97,64,5114441,K9FC
47,620994,64,Twinamatsiko Martin,93,0,98,64,117569,Ari� Ana�
48,3878814,64,Mhmdd Magdyy,93,0,99,64,747063,mhmddd
49,19790324,64,Ben Startin,93,0,100,64,3346423,English Soccer Team

### Fetch a team's player picks by gameweek

In [11]:
pb.fpl.get_entry_picks_by_gameweek(1000, 1)

,team_id,active_chip,event,points,total_points,rank,rank_sort,overall_rank,value,bank,...,player_pick_7,player_pick_8,player_pick_9,player_pick_10,player_pick_11,player_pick_12,player_pick_13,player_pick_14,captain_id,is_vice_captain
0,1000,None,1,39,39,554164,554239,554164,100.0,0.5,...,19,486,318,28,254,54,295,346,283,318

### Get entry's transfer history for this season

In [12]:
pb.fpl.get_entry_transfers(100)

### Get optimal fantasy football squad for a budget of £100m

In [13]:
optimiser_results, team = pb.fpl.optimise_team(budget=100)

optimiser_results

{'status': 'Optimal', 'total_points': 97.0, 'total_price': 90.0}

In [14]:
team

     id               full_name team position  price  total_points
0    15          Aaron Ramsdale  ARS      GKP    5.0             6
1   398          Dean Henderson  NFO      GKP    4.5             2
2   313     Oleksandr Zinchenko  ARS      DEF    5.0            12
3    26          William Saliba  ARS      DEF    4.5             8
4   430               Eric Dier  TOT      DEF    5.0             7
5   436          Ryan Sessegnon  TOT      DEF    4.5             6
6   215              Kenny Tete  FUL      DEF    4.5             3
7   283           Mohamed Salah  LIV      MID   13.0            10
8    64   Jefferson Lerma Solís  BOU      MID    5.0             6
9   225          Rodrigo Moreno  LEE      MID    6.0             6
10  407       James Ward-Prowse  SOU      MID    6.5             6
11  483  Daniel Castelo Podence  WOL      MID    5.5             6
12  210     Aleksandar Mitrović  FUL      FWD    6.5            10
13  297    Darwin Núñez Ribeiro  LIV      FWD    9.0             8
14  408          Adam Armstrong  SOU      FWD    5.5             1

### Get optimal fantasy football first eleven if playing 3-5-2 if spending £85m

In [15]:
optimiser_results, team = pb.fpl.optimise_team(formation="1-3-5-2", budget=85)

optimiser_results

{'status': 'Optimal', 'total_points': 85.0, 'total_price': 71.0}

In [16]:
team

     id               full_name team position  price  total_points
0    15          Aaron Ramsdale  ARS      GKP    5.0             6
1   313     Oleksandr Zinchenko  ARS      DEF    5.0            12
2    26          William Saliba  ARS      DEF    4.5             8
3   430               Eric Dier  TOT      DEF    5.0             7
4   283           Mohamed Salah  LIV      MID   13.0            10
5    64   Jefferson Lerma Solís  BOU      MID    5.0             6
6   225          Rodrigo Moreno  LEE      MID    6.0             6
7   407       James Ward-Prowse  SOU      MID    6.5             6
8   483  Daniel Castelo Podence  WOL      MID    5.5             6
9   210     Aleksandar Mitrović  FUL      FWD    6.5            10
10  297    Darwin Núñez Ribeiro  LIV      FWD    9.0             8